* {
    margin:0;
    padding:0;
}
a:link {
	color:#1D67A4;
}
a:visited {
	color:#1D67A4;
}
a:hover {
	color:#1D67A4;
}
.bg {
	background-color:#E6F3E4;
}
.main {
	background-color:#C9C7AB;
}
.calendar_on {
	background-color:#ADD094;
}
.calendar_off {
	background-color:Beige;
}
.T_Header_Date {
	background-color:#ADC0A4;
}
.T_Header {
	background-color:#ADD094;
}
.T_Summ	{
	background-color:#7D9064;
}
.T_Summ_Week {
	background-color:#A6B691;
}
.T_Saturday {
	background-color:#CAD4A5;
}
.T_Sunday {
	background-color:#B9D4A5;
}
.lwp_dyn_a{
	text-decoration: none;
	border-bottom: 1px blue dashed;
}